@import "../../styles/typography";
@import "../../styles/base";
@import "../../styles/colors";
@import "../../styles/spacing";


.big-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;

    .home-main {
        background-color: $black;
        height: 100vh;
        padding-top: $mediumSpacing;

        header {
            height: 80px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            nav {
                display: none;
            }

            img {
                width: 20px;
                height: 20px;
            }

            a {
                img {
                    width: 120px;
                    height: 100%;
                }
            }

            button {
                background-color: transparent;
                border: none;
            }
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            width: 200px;
            
            a{
                color: $white;
                text-decoration: none;
            }

            button{
                cursor: pointer;
                }
            }
        }

        .promoting {
            width: 100%;
            height: 20%;

            h5,
            p {
                background-color: $black;
                color: $white;
                padding: 0;
                margin: 0;
                text-align: center;
            }

            p {
                padding-top: $baseSpacing;
            }
        }

        .container-description {
            background-image: url(../../images/summer-dress1.jpeg);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            height: 75%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            h4 {
                padding: $baseSpacing;
                margin: 0;
                color: $white;
            }

            .button-cta {
                background-color: $black;
                color: $white;
                padding: $baseSpacing $largeSpacing;
                font-size: 13px;
                border: none;
                border-radius: 20px;
                text-transform: uppercase;
                letter-spacing: 3px;
                cursor: pointer;
            }
        }

    .home-category {
        margin-top: $xxlSpacing;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                margin: $baseSpacing;
                width: 300px;
                height: 350px;
                border: 1px transparent;
                border-radius: 20px;
            }

            .button-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 80%;

                button {
                    background-color: transparent;
                    border: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    &:hover {
                        text-decoration: underline $black;
                        cursor: pointer;
                    }
                }

                h6 {
                    padding: 0;
                    margin: 0;
                    margin-bottom: $baseSpacing;
                }
            }
        }
    }

    .home-ideas {
        margin-top: $xlSpacing;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 300px;
                height: 450px;
            }

            .container-intro {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                button {
                    position: absolute;
                    top: 92%;
                    color: $white;
                    background-color: $black;
                    border: solid 1px $black;
                    border-radius: 10px;
                    width: 150px;
                    height: 35px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    cursor: pointer;
                }

                h4 {
                    margin-bottom: $baseSpacing;
                    text-align: center;
                }
            }
        }
    }

    .home-promo {
        margin-top: $xlSpacing;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: $xxlSpacing;

            h4 {
                text-align: center;
            }

            img {
                width: 300px;
                height: 450px;
                border: solid transparent 1px;
                border-radius: 10px;
            }
        }
    }

        footer {
            margin-top: $xlSpacing;
            background-color: $black;
    
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $baseSpacing;
    
                a {
                    text-decoration: none;
                    color: $white;
                    text-align: center;
    
                    img {
                        width: 120px;
                        height: 70px;
                        padding-top: $baseSpacing;
                    }
                }
    
                nav {
                    ul {
                        flex-direction: column;
                        gap: $baseSpacing;
                        display: flex;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
    
                .social {
                    display: flex;
                    width: 200px;
                    justify-content: space-between;
    
                    img {
                        width: 50px;
                        height: 60px;
                    }
                }
    
                p {
                    color: $white;
                    text-align: center;
                }
            }
        }    
}