@import "typography";
@import "base";
@import "spacing";
@import "colors";

@media screen and (min-width:990px) {
    .big-container {
        header {
            .wrapper {
                align-self: center;

                a {
                    img {
                        padding-bottom: $baseSpacing;
                    }
                }

                .hamburger {
                    display: none;
                }
            }

            nav {
                display: block;
                align-self: center;

                ul {
                    display: flex;
                    gap: $largeSpacing;

                    li {
                        a {
                            cursor: pointer;
                            padding-bottom: $baseSpacing;
                            position: relative;
                            text-transform: uppercase;

                            &:hover {
                                &::before {
                                    content: ' ';
                                    width: 50%;
                                    height: 2px;
                                    background-color: $white;
                                    position: absolute;
                                    bottom: 0;
                                    transform: translate(-50%, -50%);
                                    left: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .denim_inspo{
            align-items: flex-start;

            .product{
                justify-content: space-between;
                flex-direction: row;
                position: relative;
                
                &:nth-child(2){
                    flex-direction: row-reverse;
                }

                .text{
                    p{
                        color: $black;
                        letter-spacing: 3px;
                    }
                    letter-spacing: 1px;
                    width: 60%;
                    margin: $mediumSpacing;
                }
                img{
                    width: 600px;
                    height: 600px;
                    align-self: flex-start;
                    margin-top: $largeSpacing;
                }
            }
        }
        .promo {
            .container {
                position: relative;

                h4 {
                    position: absolute;
                    width: 60%;
                    left: 400px;
                    top: 60px;
                    text-align: center;
                }

                p {
                    position: absolute;
                    width: 60%;
                    text-align: center;
                    top: 200px;
                    left: 450px;
                    letter-spacing: 2px;
                    line-height: 40px;
                }

                img {
                    margin-top: $xxlSpacing;
                    align-self: flex-start;
                }
            }
        }

        footer {
            .container {
                a {
                    align-self: center;
                }

                nav {
                    ul {
                        gap: $mediumSpacing;
                    }
                }
            }
        }
    }
}