@import "typography";
@import "base";
@import "spacing";
@import "colors";

@media screen and (min-width:990px) {
    .big-container {
        .home-main {
            padding-top: 0;
            .container {
                header {
                    margin-bottom: $mediumSpacing;
                    .wrapper {
                        align-self: center;
                        a{
                            img{
                                padding-top: $baseSpacing;
                            }
                        }
                        .hamburger {
                            display: none;
                        }
                    }
                    nav {
                        display: block;
                        align-self: center;

                        ul {
                            display: flex;
                            gap: $largeSpacing;

                            li {
                                a {
                                    cursor: pointer;
                                    padding-bottom: $baseSpacing;
                                    position: relative;
                                    text-transform: uppercase;
                                    &:hover {
                                        &::before{
                                            content:' ';
                                            width: 50%;
                                            height: 2px;
                                            background-color: $white;
                                            position: absolute;
                                            bottom: 0;
                                            transform: translate(-50%,-50%);
                                            left:50%;
                                        }
                                    }
                                }
                            }
                        }

                        
                    }
                }
            }
        }
        footer{
            .container{
                a{
                    align-self: center;
                }
                nav{
                    ul{
                        gap: $mediumSpacing;
                    }
                }
            }
        }
        .home-promo{
            .container{
                position: relative;
                h4{
                    position: absolute;
                    width: 60%;
                    left: 400px;
                    top: 60px;
                    text-align: center;
                }
                p{
                    position: absolute;
                    width: 60%;
                    text-align: center;
                    top: 200px;
                    left: 450px;
                    letter-spacing: 2px;
                    line-height: 40px;
                }
                img{
                    margin-top: $xxlSpacing;
                    align-self: flex-start;
                }
            }
        }
    }
}