@import "typography";
@import "base";
@import "spacing";

@media screen and(min-width:768px) {
    .big-container {
        .third-category{
            .product{
                img{
                width: 400px;
                height: 500px;
                }
            }
        }
        .category {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .container-category {
                max-width: 100%;
                flex-grow: 1;
            }
        }

        .promo {
            .container {
                img {
                    width: 500px;
                    height: 700px;
                }
            }
        }

        footer {
            .container {
                a {
                    align-self: flex-start;
                    margin-bottom: $baseSpacing;
                }

                nav {
                    align-self: flex-start;

                    ul {
                        flex-direction: row;
                    }
                }

                p {
                    &:first-of-type {
                        text-align: left;
                    }
                }
            }
        }
    }
}